*:focus {
    outline: none;
    border: none;
}
.form{
  display: flex;
flex-direction: column;
align-items: center;
}
.upload {
    width: 50%;
    position: relative;
    margin: 2% auto;
    text-align: center;
}

.upimg {
    background-size: cover;
    border: 4px solid #DCDCDC;
    min-height: 320px;
    max-height: 320px;
    background-image: url(../uploads/default.jpg);
    border-radius: 5px;
}
.upload img {
    width: 100%;
    box-sizing: border-box;
    max-height: 320px;
    max-height: 320px;
    height: 320px;
}
.upload .leftRound,
.upload .rightRound {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 1%;
}

.upload .leftRound {
    left: 0;
    border-color: red red #DCDCDC #DCDCDC;
    border-radius: 0px 40px 0px 0px;
    background: red;
}

.upload .rightRound {
    right: 0;
    border-radius: 40px 0px 0px 0px;
    border-color: #26C6DA #DCDCDC #dcdcdc #26C6DA;
    background: #26C6DA;

}

.upload .fa {
    color: white;
    font-size: 1.5rem;
}

.upload input[type="file"] {
    position: absolute;
    opacity: 0;
}
label {
    font-weight: bold;
    color: darkblue;
}
#title,
#content,
#author {
    width: 100%;
    border: none;
    border-bottom: 2px solid #00b4ff;
    text-align: center;
    padding: 2% 0;
    resize: none;
}
#content{
    border: 2px solid #00b4ff;
    border-radius: 5px;;
    background: aliceblue;
}
i.fa.fa-times {
    margin-left: -20%;
    font-size: 2rem;
}
button {
margin-top: 2%;
width: 20%;
padding: 1%;
line-height: 12px;
border-radius: 3px;
font-size: 20px;
color: white;
font-weight: bold;
background: #2b78ac;
border: navajowhite;
box-shadow: 1px 2px 4px 2px #2b78ac;
cursor: pointer;
}
button:hover {
    background: #4e95c5;
    box-shadow: 1px 2px 4px 2px #578db1;
}